body {
    background-color: black;
    font-family:fantasy sans-serif;
    color: crimson;
    font-size:20px
}
.funky {
        border-radius: 16px;
         border:3px solid white;
        background-color:Gold;
        font-size:16px; 
        color:red;
         box-shadow:  0 12px 16px 0 solid gold, 0 17px 50px 0 solid gold;
    }
    .funky:hover {
         background-color:aqua;
        color:darkmagenta;
             box-shadow: 0 12px 16px 0 rgba(0,255,255,0.24), 0 17px 50px 0 rgba(0    ,255,255,0.19);
    }

.funky{
 display: inline-block;
  text-align: center;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.funky span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.funky span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.funky:hover span {
  padding-right: 25px;
}

.funky:hover span:after {
  opacity: 1;
  right: 0;
}